/*----+----+----+----+----+----+----+----+--*\
\*                 MAIN FONT                */
/*                                          *\
\*----+----+----+----+----+----+----+----+--*/
@font-face {
    font-family: "Aveny T WEB";
    src: url("./Aveny\ T\ WEB\ Fonts.woff") format(woff);
}
/*----+----+----+----+----+----+----+----+--*\
\*                  GENERAL                 */
/*                                          *\
\*----+----+----+----+----+----+----+----+--*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --font-family-primary: "Aveny T WEB", sans-serif;
    --font-family-secondary: "Source Code Pro", monospace;

    --font-weight-regular: 300;
    --font-weight-bold: 900;

    --color-light: #fff;
    --color-black: #111;
    --color-accent: #009688;
    --color-blue: #0e00f0;
    --color-red: #f44336;
    --color-kaki: #be66;

    --font-size-h1: 3rem;
    --font-size-h2: 2.25rem;
    --font-size-h3: 1.25rem;
    --font-size-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

html {
    font-size: 16px;
}

body {
    background: var(--color-light);
    color: var(--color-dark);
    margin: 0;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
}

.hide {
    display: none;
}
.fadeIn {
    animation: fade 0.5s ease-in-out;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*----+----+----+----+----+----+----+----+--*\
\*                  HEADER                  */
/*                                          *\
\*----+----+----+----+----+----+----+----+--*/
header {
    display: flex;
    align-items: center;
    /* The justify-content property aligns the flexible container's items 
       when the items do not use all available space on the main-axis (horizontally) */
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #f3f2f2;
}
/*----+----+----+----+----+----+----+----+--*\
\*----+----+----+--  LOGO  --+----+----+----*/
.logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.logo img {
    width: 60px;
}
.logo p {
    font-weight: bold;
    color: #000;
}
/*----+----+----+----+----+----+----+----+--*\
\*----+----+----+--  NAV   --+----+----+----*/
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
}
nav ul li:last-child {
    padding-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px;
}
/*----+----+----+----+----+----+----+----+--*\
\*                   MAIN                   */
/*                                          *\
\*----+----+----+----+----+----+----+----+--*/
main {
    max-width: 1200px;
    margin: 0 auto;
}
/*----+----+----+----+----+----+----+----+--*\
\*----+----+---Background Image---+----+----*/
.stats {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
        url("../img/bg.jpg");
    background-size: cover;
}

/* .global-stats {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../img/bg.jpg");
    background-size: cover;
} */
/*----+----+----+----+----+----+----+----+--*\
\*----+----+----+ Latest Report --+----+----*/

.latest-report {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    color: var(--color-light);
}

.country,
.total-cases,
.active,
.recovered,
.deaths {
    height: 6.25em;
}

.name {
    font-size: var(--font-size-h2);
    color: var(--color-kaki);
    font-weight: bold;
    max-width: 300px;
}
.change-country {
    cursor: pointer;
}
.title {
    font-size: var(--font-size-h3);
}
.total-cases .value,
.global-total .value {
    font-size: var(--font-size-h2);
    font-weight: bold;
}
.active .value,
.global-active .value {
    font-size: var(--font-size-h2);
    font-weight: bold;
    color: var(--color-blue);
}
.recovered .value,
.global-recovered .value {
    font-size: var(--font-size-h2);
    font-weight: bold;
    color: var(--color-accent);
}
.deaths .value,
.global-deaths .value {
    font-size: var(--font-size-h2);
    font-weight: bold;
    color: var(--color-red);
}
.new-value {
    font-size: var(--font-size-h3);
}
/*----+----+----+----+----+----+----+----+--*\
\*----+----+----+---- Chart +-----+----+----*/
.chart {
    width: 70%;
    height: 35vh;
    min-height: 400px;
    margin: 0 auto;
    padding: 1em 0;
}
.global-chart {
    width: 60%;
    height: 35vh;
    min-height: 400px;
    margin: 0 auto;
    padding: 1em 0;
}

/*----+----+----+----+----+----+----+----+--*\
\*----+----+---- Search Country --+----+----*/
.search-country {
    position: relative;
    top: 10px;
    left: -110px;
}
.search-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 30px;
    background-color: var(--color-dark);
    /* The z-index property specifies the stack order of an element.
       An element with greater stack order is always in front of an element with a lower stack order. */
    z-index: 1;
}
.search-box input {
    width: 280px;
    height: 25px;
    border: none;
    background-color: transparent;
    color: var(--color-light);
    padding-left: 15px;
    font-size: var(--font-size-body);
}
.search-box img {
    width: 20px;
    padding-right: 5px;
    cursor: pointer;
}
.country-list {
    display: flex;
    position: absolute;
    top: 30px;
    width: 330px;
    height: 300px;
    background-color: var(--color-dark);
    opacity: 0.9;
    overflow-y: scroll;
}
.country-list ul {
    width: 100%;
}
.country-list ul li {
    list-style: none;
    cursor: pointer;
    padding: 10px;
    color: var(--color-light);
}
.country-list ul li:hover {
    border-left: 1px solid var(--color-light);
}
.country-list::-webkit-scrollbar {
    width: 10px;
}
.country-list::-webkit-scrollbar-track {
    background: var(--color-dark);
}
.country-list::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}
.country-list::-webkit-scrollbar-thumb:hover {
    background: var(--color-light);
}
/*----+----+----+----+----+----+----+----+--*\
\*                  FOOTER                  */
/*                                          *\
\*----+----+----+----+----+----+----+----+--*/
footer {
    max-width: 1200px;
    height: 3em;
    margin: 0 auto;
    background-color: #000;
}
.footer-container {
    height: 30%;
    display: flex;
    justify-content: center;
}

.copyright {
    height: 30%;
    flex-direction: column;
    justify-content: center;
}
.copyright p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: var(--color-light);
    padding: 0 auto;
}
.copyright a,
.copyright a:visited {
    text-decoration: none;
    color: var(--color-accent);
}

/*----+----+----+----+----+----+----+--\
\*----+----+----+ WARNING --+----+----*/
.warning h2 {
    text-align: center;
    width: 50%;
    margin: 1em auto;
    color: var(--color-light);
    padding: 1em auto;
    position: relative;
    background: #bd0000;
    border-radius: 0.4em;
}

.warning h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 0.063em solid transparent;
    border-top-color: #bd0000;
    border-bottom: 0;
    margin-left: -0.062em;
    margin-bottom: -0.062em;
}

/*----+----+----+----+----+----+----+----+--*\
\*      Screen Width less than 600px        */
/*                                          *\
\*----+----+----+----+----+----+----+----+--*/
@media screen and (max-width: 600px) {
    .latest-report {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
